<div class="donate">
  <div class="container has-text-centered content">
    <h1>Donate</h1>
    <div class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Bitcoin</p>
          <div class="coinAddr">1MKXSenCAexN4E9i1dtHeEPP6ZyoMCZJXR</div>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Ethereum</p>
          <div class="coinAddr">0x5c593d8d3f6957721345f0fc695AF37bdCB0F540</div>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Litecoin</p>
          <div class="coinAddr">LUgcQseY4TUUseX8NTkbYAipR9zFg8yd8H</div>
        </div>
      </div>
    </div>
  </div>
</div>
