<footer class="footer">
	<div class="container">
		<div class="content has-text-centered">
			<p>
				Created by <a href="http://www.ianfajardo.com">Ian Fajardo</a>. The source code is licensed
				<a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
				is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.<br/>
				Data generated from <a href="https://coinmarketcap.com">CoinMarketCap</a>
			</p>
		</div>
		<a href="https://bulma.io">
		  <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
		</a>
	</div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/defiant@1.4.5/dist/defiant.min.js"></script>
<script src="public/main.min.js"></script>
